.a{
    font-size: larger;
    margin-left: 45%;
}
.head{
    margin-left: 40%;
}

.para{
    margin-left: 34%;
}

.clr{
    background-color: aqua;
}

.explore{
    margin-left: 10%;
}
img{
    margin-left: 10%;
    position: relative;
    float: inline-start;
    height: 300px;
    width: 900px;

}


.featured{
    margin-left: 37%;
}

.tibet, .java, .explore, .kenya{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 17%;
}
.para{
    font-size: medium;
}


.form{
    background-color: aqua;
    margin-left: 30%;
    position: absolute;
}